<!-- template for one snackbar -->

<div id="snackbar" class="snackbar-container">
  <div class="snackbar-icon">
    <span class="material-icons">error_outline</span>
  </div>
  <div class="snackbar-text"></div>
  <div class="snackbar-link"></div>
  <div class="snackbar-close">
    <div class="snackbar-close-text">
      Sulje
    </div>
    <span class="material-icons snackbar-close-icon">close</span>
  </div>
</div>