.panel {
  min-height: 650px;

  .row-no-bottom-margin {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .title-row-list {
    display: flex;
    align-items: center;

    .title {
      width: 100%;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    .button {
      margin-right: 10px;
      .disabled {
        color: grey !important;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.error-message-panel {
  white-space: normal;
  padding: 10px 20px;
  color: #3f0303;



 .heading {
    font-size: 1.2em;
    font-weight: 600;
  }

  pre {
    white-space: pre-wrap;
  }

}
