.marc-record-panel {
  font-family: 'monospace'; 
  white-space: pre-wrap; 
  overflow-x: auto;

  .fieldList {
    .from-postmerge {
      background-color: #e3f2fd;
    }

    .is-selected {
      &.from-other {
        background-color: #b2dfdb;

        &:hover {
          outline: 1px dashed #ccc;
          cursor: pointer;
        }
      }
    }
    .code {
      color: #e57373;
      margin-right: 2px;
    }
    .marker {
      color: #e57373;
      margin-left: 2px;
    }
    .tag,
    .ind1,
    .ind2 {
      color: #448aff;
    }
    .has-changed {
      background-color: #e1f5fe;
    }
    .has-been-edited {
      background-color: #a5d6a7; 
    }
  }
  
}
