$minHeight: 650px;

div.marc-record-container {
  min-height: $minHeight;
  padding: 0px;

  .content {
    .fieldList {
      min-height: $minHeight;
    }
  }

  .tabs {
    .tab.title {
      text-align: left;
    }
  }
}

.load-error .heading {
  font-size: 1.2em;
  font-weight: 600;
}

.load-error {
  padding: 10px 20px;
  color: #6b3636;
}

