.save-button-panel {
  min-height: 36px;
  
  a {
    display: flex !important;
    flex-direction: row-reverse;
    text-align: right;
    font-size: 1.2em;
    margin-right: 2em;
    color: #039be5 !important; // light-blue darken-1
    &.disabled {
      color: #CCC !important;
      cursor: default;
    }

    i {
      padding-right: 5px;
    }
  }

  span {
    width: 100% !important;
  }

  .save-status {
    font-size: 1.2em;
  }

  .preloader-container {
    height: 36px;
    width: 36px;
    display: inline-block;
  }
  .save-status-error {
    color: #e57373; //red lighten-2
  }
  .save-status-success {
    color: #66bb6a; // green lighten-2
  }

}