.card-panel {
  box-sizing:border-box;
  &.marc-record {
    font-family: 'Roboto Mono'; 
    white-space: pre-wrap; 
    overflow-x: auto;
  }
  &.is-dragging {
    opacity: 0.7;
  }
}

.is-compacted {

  &> td {
    padding: 0
  }
  .marc-record-subrecord {
    .card-content {
      padding: 0
    }
  }  
}

.subrecord-header {
  .swap-all-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    .swap-all-button {
      transition: all .3s ease-out;
      width: 36px;
      height: 36px;
      color: white;
    }
  }
  
}