<!-- [Navigation bar partial (navbar.hbs)] -->

<script type="module" src={{ shared "/scripts/navbar.js" }}></script>

<div id="navbar" class="navbar">

  <!-- Navbar can contain two menu bars, primary and secondary -->
  <!-- Primary menu bar contains Melinda logo and primary navigation links -->
  <!-- Secondary menu bar contains secondary navigation links: path for navigation (faux breadcrumb) and app selection -->

  <div class="navbar-menu-bars">

    <div class="primary-menu-bar">

      <div class="logo-area">
        <a href="/">
          <img src={{ shared "/images/logo-melinda-text-horizontal-white-cropped.png" }}>
        </a>
      </div>

      <div class="primary-navigation-links">

        <!-- link to instructions  -->
        <a href="https://www.kiwi.fi/display/melinda/Ohjeet" target="_blank" rel="noopener noreferrer">
          <div class="nav-link" title="Avautuu uuteen välilehteen">
            <div class="nav-link-icon">
              <span class="material-icons">help_outline</span>
            </div>
            <div class="nav-link-text outer-link">
              Ohjeet
              <div class="nav-link-icon">
                <span class="material-icons open-in-new">open_in_new</span>
              </div>
            </div>
          </div>
        </a>

        <!-- language selection  -->
        <div class="nav-link link-disabled" title="Palvelu on saatavilla vain suomeksi" disabled="true">
          <div class="nav-link-icon">
            <span class="material-icons">language</span>
          </div>
          <div class="nav-link-text">
            Suomeksi
          </div>
        </div>

        <!-- Conditional rendering of user's name and the account menu dropdown  -->
        {{#if username}}
          <!-- user profile dropdown menu button -->
          <div id="accountMenu" class="account-menu navbar-dropdown-button">
            <div class="nav-link">
              <div class="nav-link-icon">
                <span class="material-icons">person_outline</span>
              </div>
              <div id="username" class="nav-link-text">
                <!-- Display user name here after login -->
                {{username}}
              </div>
              <div class="nav-link-icon expand-more show">
                <span class="material-icons">expand_more</span>
              </div>
              <div class="nav-link-icon expand-less">
                <span class="material-icons">expand_less</span>
              </div>
            </div>
          </div>
        {{/if}}

        <!-- ON HOLD: logout as separate button in primary navigation bar  -->
        <!-- 
            <div class="nav-link" onClick="onAccount(event)">
              <div class="nav-link-icon">
                <span class="material-icons">logout</span>
              </div>
              <div class="nav-link-text">
                Kirjaudu ulos
              </div>
            </div>
 -->

      </div>

    </div>

  </div>

  <!-- dropdown menu for user profile and account functions (including logout) -->
  <!-- this dropdown menu can be opened from primary navigation bar button -->
  <div id="accountMenuDropdown" class="primary-menu-bar-dropdown navbar-dropdown-menu" style="display: none">
    <div class="dropdown-inner">

      <div class="dropdown-inner-content">

        <div class="dropdown-info">

          <div class="info-title">
            Käyttäjäprofiili
          </div>

          <div class="info-content">
            <div class="info-paragraph">
              Vaihda oman Melinda-tunnuksesi salasanaa tai kirjaudu ulos.
            </div>
            <div class="info-paragraph">
              Organisaation pääkäyttäjä saa Melindan pääkäyttäjätunnuksen (admin), joilla voi tavanomaisen
              kuvailutyön lisäksi myös hallinnoida oman organisaation muita Melinda-käyttäjiä.
            </div>
          </div>

        </div>

        <div class="dropdown-items">

          <div class="dropdown-item">

            <a href="https://asetukset.melinda.kansalliskirjasto.fi/" target="_blank" rel="noopener noreferrer"
              title="Avautuu uuteen välilehteen">
              <div class="item-header">
                <div class="item-header-title outer-link">
                  Muuta salasanaa
                  <div class="nav-link-icon">
                    <span class="material-icons open-in-new">open_in_new</span>
                  </div>
                </div>
                <div class="item-header-icon icon-arrow">
                  <span class="material-icons">east</span>
                </div>
              </div>
            </a>

            <div class="item-content">
              <div class="item-content-paragraph">
                Vaihda Melinda-tunnuksesi salasanaa.
              </div>
              <div class="item-content-paragraph">
                Salasananvaihtotyökalu avautuu uuteen välilehteen.
              </div>
              <div class="item-content-paragraph outer-link">
                Vinkkejä uuteen salasanaan ja muita ohjeita
                salasanan vaihtamiseen löydät
                <a href="https://www.kiwi.fi/display/melinda/Salasanan+vaihtaminen" target="_blank"
                  rel="noopener noreferrer" title="Avautuu uuteen välilehteen">
                  Melindan asiakaswikistä
                  <span class="material-icons open-in-new">open_in_new</span>
                </a>
              </div>
            </div>

          </div>

          <div class="dropdown-item">

            <a href="https://melinda.kansalliskirjasto.fi/users/" target="_blank" rel="noopener noreferrer"
              title="Avautuu uuteen välilehteen">
              <div class="item-header">
                <div class="item-header-title outer-link">
                  Käyttäjänhallinta
                  <div class="nav-link-icon">
                    <span class="material-icons open-in-new">open_in_new</span>
                  </div>
                </div>
                <div class="item-header-icon icon-arrow">
                  <span class="material-icons">east</span>
                </div>
              </div>
            </a>

            <div class="item-content">
              <div class="item-content-paragraph">
                Työkalu käyttäjien hallintaan. Työkalun käyttö on rajattu vain organisaation admin-käyttäjille.
              </div>
              <div class="item-content-paragraph">
                Käyttäjänhallintatatyökalu avautuu uuteen välilehteen.
              </div>
              <div class="item-content-paragraph outer-link">
                Melindan pääkäyttäjät voivat lisätä organisaatioonsa uusia käyttäjiä, muokata käyttäjien oikeuksia
                ja poistaa vanhentuneita käyttäjätietoja. Lisää tietoa pääkäyttäjille
                <a href="https://www.kiwi.fi/pages/viewpage.action?pageId=167870625" target="_blank"
                  rel="noopener noreferrer" title="Avautuu uuteen välilehteen">
                  Melindan asiakaswikistä
                  <span class="material-icons open-in-new">open_in_new</span>
                </a>
              </div>
            </div>

          </div>

          <!-- <a href="/logout">logout</a> -->
          <div class="dropdown-item logout">
            <a href="/logout">
              <div class="item-header" title="Kirjaudu ulos aputyökaluista">
                <div class="item-header-title">
                  Kirjaudu ulos
                </div>
                <div class="item-header-icon icon-arrow">
                  <span class="material-icons">logout</span>
                </div>
              </div>
            </a>
          </div>

        </div>

      </div>

      <div class="dropdown-button-close">

        <div class="button-close-icon">
          <span class="material-icons close-icon">close</span>
        </div>

        <div class="button-close-text">
          Sulje
        </div>

      </div>

    </div>
  </div>

</div>