
@import 'vendor/materialize/materialize';

html {
  overflow-y: scroll;
}

.navbar-fixed {
  z-index: 1000;    
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;  
}